body {
    margin: 0;
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
}

.hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.links {
    display: flex;
    list-style: none;
    gap: 10px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px
}