body {
    margin: 0;
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
}

.hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 15px;

}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.links {
    display: flex;
    list-style: none;
    gap: 12px;
    margin: 0;
    padding: 0;
}

a, .hero-article {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px
}

.hero-body {
    display: flex;
    justify-content: space-around;
}

.hero-title {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
}

button {
    padding: 5px 8px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    border: none;
}