body {
    margin: 0;
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
}

.hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

