body {
    margin: 0;
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
}

.hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 20px 150px 100px 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 600;
}

.links {
    display: flex;
    list-style: none;
    gap: 15px;
    margin: 0;
    padding: 0;
}

a, .hero-article {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
}

.hero-body {
    display: flex;
    justify-content: space-around;
    margin: 50px 0px;
    gap: 50px;
}

.hero-title {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
    
}

button {
    padding: 8px 24px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    border: none;
    margin-top: 24px;
}

.hero-image {
    width: 400px;
    height: auto;
    border-radius: 5px;
}

.info-section {
    color: #1f2937;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 45px;
    gap: 45px;
    align-items: center;
    
}

.info-head {
    font-size: 36px;
    font-weight: 900;
}

.items-list {
    display: flex;
    justify-content: space-around;
    gap: 18px;
    text-align: center;
}

.items-list img {
    width: 200px;
    height:200px;
    border: 2px solid #3882f6;
    border-radius: 5px;
}

.items-list {
    padding-bottom: 50px;
}

.quote-section {
    background-color: #e5e7eb;
    color: #1f2937;
    padding:150px ;
}

.quote {
    font-size: 36px;
    font-weight: 300;
}

.quote-footer {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: end;
    margin: 0;
}
